<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MVCTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- 서블릿으로 사용할 클래스 등록 -->
  <servlet>
  	<servlet-name>now</servlet-name>
  	<servlet-class>test.NowServlet</servlet-class>
  </servlet>
  <!-- URL을 통해 서블릿을 호출할 수 있도록 서블릿과 URL과의 매핑 -->
  <servlet-mapping>
  	<servlet-name>now</servlet-name>
  	<url-pattern>/now</url-pattern>
  </servlet-mapping>
  
</web-app>